{% extends "base.html" %}
{% load static %}
{% block title %}Письмо было успешно отправлено на ваш электронный адрес{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock %}

{% block content %}
{% include 'nav.html' %}
<main class="main container">
    <div class="custom-center-block">
            <p class="custom-text-block">Письмо было успешно отправлено на ваш электронный адрес</p>
        <form action="{% url 'index' %}">
            <div class="custom-button-block">
                <button type="submit" class="button button_style_blue">Перейти на главную страницу</button>
            </div>
        </form>
    </div>
</main>
{% include 'footer.html' %}
{% endblock %}