{% extends 'base.html' %}
{% block title %} Об авторе {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}


{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock stylesheet %}

<!-- {% include 'nav.html' %} -->

{% block content %}
    {% include 'nav.html' %}
    <main class="main container">
        <div class="custom-center-block">
           <p><h3> Меня зовут Виталий, я студент Яндекс.Практикума 
           по специальности Pyhton-разработчик. Со мной можно связаться через:</h3>
           <p><h4><a href='mailto:vit96-96@mail.ru'>Почту: vit96-96@mail.ru</h4></a></p>
           <p><h4><a href='https://github.com/KucJloTa'>Мой профиль на Github</a></h4></p>
    </main>
    {% include 'footer.html' %}
{% endblock %}
