{% extends "recipes/base.html" %}
{% load static %}
{% block title %} Об авторе {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock stylesheet %}

{% block content %}
    <main class="main container">
        <div class="custom-center-block">
           <p><h3> Меня зовут Виталий, я студент Яндекс.Практикума 
           по специальности backend-developer. Со мной можно связаться через:</h3>
           <p><h4><a href='mailto:kucjlota1996@yandex.ru'>Почту: kucjota1996@yandex.ru</h4></a></p>
           <p><h4><a href='https://github.com/KucJloTa'>Мой профиль на Github</a></h4></p>
    </main>

{% endblock %}